*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Italic;
    src: url(../fonts/Lato-Italic.ttf);
}
@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/MyriadProRegular.ttf);
}

a{
    list-style: none;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
}
.wrapper{
    width: 1600px;
    margin: 0 auto;
}
.header-container{
    background-size: cover;
    background: url("../images/oscar_header.png") no-repeat center center;
    margin: 0 auto;
    height: 565px;
    display: block;
}

.header-container__main {
    color: #ffffff;
    position: relative;
    padding: 113px 615px 0 215px;
    width: 770px;
    height: 452px;
}
.header-container__text{
    margin-bottom: 21px;
    font-family: Lato-Light;
    font-size: 30px;
}
.header-container__post-author{
    margin-bottom: 207px;
}
.header-container__mike-post{
    display: inline;
    margin-right: 35px;
}
.header-container__mike-info{
    color: #ffffff;
    font-size: 16px;
    font-family: Lato-Light;
    font-weight: 600;
    height: 26px;
    width: 26px;
    vertical-align: middle;
}
.header-container__mike_text{
    margin-left: 10px;
}
.header-container__logo{
    font-size: 60px;
    font-family: Lato-Bold;
    line-height: 57px;
    letter-spacing: -1.5px;
    word-spacing: 1px;
    margin-bottom: 5px;
}
.options-menu{
    list-style: none;
    display: block;
}
.options-menu__item{
    height: 100%;
    display: inline-block;
    margin-right: 27px;
}
.options-menu__item_share_pos{
    margin-right: 20px;
}
.options-menu__link{
    text-transform: uppercase;
    font-family: Lato-Regular;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}
.options-menu__link_text{
    display: inline-block;
    line-height: 22px;
}
.options-menu__icon{
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    position: relative;
}
.options-menu__icon-donate{
    margin-right: 12px;
}
.options-menu__link:hover{
    color: #955c25;
}
/* Main part with articles */

.main-container__section{
    position: relative;
    width: 830px;
    margin: 0 auto;
}
.main-container__load-news-panel{
    font-family: Lato-Bold;
    font-size: 16px;
    height: 56px;
    display: block;
    margin: 0 auto 44px;
    width: 1600px;
    text-align: center;
    line-height: 56px;
    background-color: #cfbb95;
    text-transform: uppercase;
}
.article{
    margin-bottom: 93px;
}
.article__content{
    font-family: Lato-Regular;
    font-size: 18px;
    margin-bottom: 26px;
    line-height: 1.7;
}
.article__name{
    font-family: Lato-Bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    letter-spacing: -0.05px;
}
.clear{
    clear: both;
}
.article__info{
    display: inline-block;
    /*vertical-align: top;*/
    width: 100%;
    position: relative;
}
.info__item{
    vertical-align: top;
    display: inline-block;
    font-size: 1.1429rem;
    font-weight: 300;
    list-style: none;
    line-height: 22px;
}
.info__item_link{
    margin-right: 35px;
}
.config_font {
    position: relative;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #8b8b8b;
}
.article__user-link{
    white-space: nowrap;
    display: block;
}
.article__user-avatar{
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
}
.article__date{
    margin-right: 35px;
}
.info__item_open_menu{
    display: inline-block;
    position: absolute;
    right: 0;
}
.inter_name_pos{
    margin-bottom: 23px;
}
.article__image_full-width{
    margin-bottom: 22px;
    width: 100%;
}
.article__image{
    margin-bottom: 22px;
}
.image_twitter{
    margin-bottom: 30px;
    max-height: 407px;
    max-width: 465px;
    box-shadow: 0 0 1px black;
}
.article__gallery{
    display: flex;
    justify-content: space-between;
}
.info_width_auto{
    width: auto;
}
.article__actions{
    display: block;
    float: right;
    margin-bottom: 14px;
}
.actions{
    box-sizing: border-box;
}
.actions__item{
    display: inline-block;
    height: 100%;
    position: relative;
}
.user-actions__icon{
    float: left;
    display: inline-block;
    margin-right: 5px;
}
.arrow-link{
    display: inline-block;
    width: 0.9em;
    margin-right: 12px;
}
.actions__user_pos{
    margin-right: 15px;
    height: 100%;
}
.actions__user_pos_donate{
    margin: 0;
}
.article_margin_3{
    margin-bottom: 92px;
}
.article_margin_2{
    margin-bottom: 90px;
}
.article_margin_4{
    margin-bottom: 132px;
}
.article_margin_5{
    margin-bottom: 85px;
}
.article__name_set-margin-4{
    margin-bottom: 15px;
}
.article__content_set-margin-4{
    margin-bottom: 30px;
}
.article__name_set-margin-8{
    margin-bottom: 23px;
}
.article__content_set-margin-8{
    margin-bottom: 30px;
}
.arrow_pos{
    margin-right: 12px;
}
.arrow_pos_last{
    margin-left: 8px;
    vertical-align: baseline;
}
.arrows_config{
    margin-right: 9px;
    display: inline-block;
    font-size: 1.1429rem;
    font-weight: 300;
    list-style: none;
    line-height: 22px;
    width: auto;
}
.actions-menu{
    position: absolute;
    z-index: 1;
    display: block;
    list-style: none;
    margin-top: 13px;
    border: 3px solid #e7e7e7;
    border-radius: 7px;
    padding: 0 20px 0 10px;
    right: 42px;
    height: 10.31em;
    background: #ffffff;
}
.actions-menu__elem-link{
    height: 100%;
    line-height: 14px;
    display: inline-block;
}
.actions-menu__elem{
    display: block;
    position: relative;
    margin-bottom: 0.2em;
}
.actions-menu__elem_first{
    margin-top: 10px;
}
.actions-menu__icon {
    width: 0.85rem;
    height: 0.92rem;
    display: inline-block;
    float: left;
    margin-right: 8px;
}
.actions-menu:before {
    content: '';
    border-top: 3.2px solid #e7e7e7;
    border-left: 3.2px solid #e7e7e7;
    border-radius: 5px;
    width: 1em;
    height: 1em;
    background: #fff;
    position: absolute;
    top: -12px;
    display: block;
    transform: rotate(45deg);
}
.action_count{
    color: #93be8a;
    line-height: 20px;
    vertical-align: top;
    margin-right: 3px;
}
.action__text{

    vertical-align: middle;
}
.article__audio  .plyr__controls {
    height: 139px;
    border: none !important;
    background: #f0f0f0 !important;
    display: block;
    margin-bottom: 42px;
    margin-top: 5px;
}

.article__audio  .plyr__controls > button {
    border: solid 2px #c6c6d0;
    border-radius: 50%;
    padding: 25px;
    margin-left: 30px;
    float: left;
    margin-top: 15px;
}

.article__audio .plyr__controls > button > svg {
    width: 30px;
    height: 30px;
}

.article__audio .plyr__progress {
    width: 77%;
    display: inline-block;
    box-sizing: content-box;
    margin-top: 65px;
    margin-right: 8px;
}

.plyr__progress--seek {
    opacity: 0;
}

.article__audio .plyr__volume {
    display: none;
}

.article__audio .plyr__time {
    margin-top: 45px;
    right: 47px;
    position: absolute;
}

.article__audio .plyr__time--current {
    float: right;
    font-family: Lato-Light;
    font-size: 12px;
}

.article__track-name {
    position: absolute;
    margin-top: 53px;
    margin-left: 160px;
    z-index: 2;
}

.article__audio .plyr__progress--played {
    background-color: #ffffff;
}

.article__audio .plyr__progress--played, .plyr__volume--display {
    color: #c6c6d0 !important;
}

.article__track-name_font {
    font-family: Lato-Italic;
    font-size: 16px;
}

.article__audio .plyr__controls button svg {
    fill: #a3a4b6;
}

.article__audio .user-info_margin-audio {
    margin-top: 4px;
    vertical-align: super;
}
.plyr__video-wrapper{
    position: relative;
    height: 353px;
    width: 790px;
}
.article__video .plyr__controls{
    margin-bottom: 5px;
    padding: 0;
}
.article__video .plyr__time{
    float: right;
    position: relative;
}
.article__video .plyr__controls{
    width: 772px;
    margin-bottom: 7px;
}
.article__video .plyr{
    border: 22px solid #f0f0f0;
    border-radius: 4px;
}
.plyr__play-large{
    top: 47.5%;
    left: 49.4%;
    padding: 28px;
    background-color: transparent;
    border: 2px solid #f0f0f0;
}
.plyr__play-large svg{
    width: 40px;
    height: 40px;
}
.article__video .plyr__time{
    left: 93.5%;
    position: absolute;
    bottom: 35px;
    font-family: Lato-Regular;
    font-size: 12px;
}
.article__video .plyr__controls button{
    margin-left: 7px;
}
.article__video .plyr__controls button svg {
    height: 25px;
    width: 25px;
}
.article__video .plyr__progress{
    margin-right: 2px;
    margin-left: 6px;
}
.article__video-content{
    margin-bottom: 5px;
}
.replies__amount{
    display: block;
    text-align: center;
    font-family: Lato-Light;
    font-size: 18px;
    margin-bottom: 50px;
}
.replies__amount:before{
    content: '';
    display: inline-block;
    height: 1px;
    width: 360px;
    background-color: #b2b2b2;
    float: left;
    margin-top: 10px;
}
.replies__amount:after{
    content: '';
    display: block;
    height: 1px;
    width: 375px;
    background-color: #b2b2b2;
    float: right;
    margin-top: 10px;
}
.article__video{
    margin-bottom: 25px;
}
.article_margin_video{
    margin-bottom: 53px;
}
.comment{
    height: 100%;
    margin-bottom: 63px;
}
.comment__avatar{
    height: auto;
    width: 73px;
    position: relative;
    display: block;
    float: left;
}
.comment__content{
    display: inline-block;
    position: relative;
    clear: both;
    width: calc(100% - 95px);
    margin-left: 22px;
    text-align: left;
}
.comment__last{
    margin-left: 95px;
    margin-bottom: 55px;
}
.comment__user-name{
    color: #000;
    font-family: Lato-Bold;
    font-size: 16px;
    line-height: 18px;
    margin-right: 15px;
}
.comment__user-info{

}
.comment__info_item{
    display: inline-block;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #8b8b8b;
}
.comment__text{
    font-family: Lato-Regular;
    font-size: 16px;
    color: #020202;
    line-height: 26px;
    margin-top: 4px;
}
.comment__reply{
    font-family: Lato-Regular;
    font-size: 16px;
    color: #0d50a7;
    display: block;
    margin-top: 5px;
}
.info-item_first{
    line-height: 1.2em;
}
.comment__secondary{
    margin-left: 95px;
    margin-bottom: 45px;
}
.comment__reply_anna{
    margin-top: 7px;
}
.comment_pos_anna{
    margin-bottom: 48px;
}
.comment__enter{
    height: 180px;
    background-color: #f0f0f0;
    border-radius: 6px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 18px;
    resize: none;
}
.comment__enter::placeholder{
    font-family: Myriad Pro;
    font-size: 16px;
    color: #b8b7b8;
}
.comment__list-pages{
    display: flex;
    justify-content: space-between;
    width: 212px;
    margin: 35px auto;
}
.list-pages__item{
    display: inline-block;
}
.list-pages__link{
    color: #6b6b6b;
    font-family: Lato-Regular;
    font-size: 16px;
}
.list-pages__link:hover{
    color: #d98934;
}
.list-pages__link_active{
    color: #333435;
}
.article__video_youtube{
    border: 20px solid #f0f0f0;
    border-radius: 4px;
    margin-top: 20px;
}
.article__youtube-description{
    padding: 23px 15px;
}
.main__donate{
    width: 100%;
    height: 65px;
    display: block;
    text-align: center;
    color: #7d89b6;
    border: 1px solid #7d89b6;
    margin-bottom: 100px;
}
.donate__icon{
    display: inline-block;
    line-height: 65px;
    vertical-align: middle;
    margin-right: 10px;
}
.donate__text{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Lato-Regular;
    line-height: 65px;
    vertical-align: middle;
}
.article_last{
    margin-bottom: 45px;
}
.footer{
    font-family: Lato-Regular;
    font-size: 18px;
    color: #a5a5a5;
    height: 100px;
    width: 100%;
    background-color: #000000;
}
.footer__contacts{
    float: right;
    display: inline-block;
    line-height: 100px;background-position: 5vw center;
    margin-right: 216px;
}
.footer__item{
    display: inline-block;
    margin-left: 5px;
}
.footer__copyright{
    margin-left: 216px;
    line-height: 100px;
}
.footer__item_social {
    font-size: 15px;
    display: inline;
    padding: 8px 5px;
    color: #1c1c1c;
    border-radius: 50%;
    margin-bottom: 20%;

    background-color: #828282;
}
.plyr__progress--played{
    color: #c6c6d0;
}


/* Responsive design */

@media screen and (max-width: 1599px){
    .options-menu__icon{
        height: 1.4em;
    }
    .wrapper{
        width: 100%;
    }
    .image_twitter{
        width: 100%;
    }
    .header-container{
        width: 100%;
    }
    .header-container__mike-info{
        font-size: 1em;
        width: 1.625em;
        height: 1.625em;
    }
    .header-container__post-author{
        margin-bottom: 13em;
    }
    .header-container__main{
        padding: 7.063em 17% 0 13%;
        width: 48%;
        height: 80%;
    }
    .main-container{
        width: 100%;
    }
    .main-container__section{
        width: 52%;
    }
    .header-container__text{
        font-size: 1.9em;
    }
    .header-container__logo{
        font-size: 3.8em;
    }
    .header-container__post-author{
        margin-bottom: 12.94em;
    }
    .header-container__mike-post{
        font-size: 1em;
    }
    .options-menu{
        height: 5%;
    }
    .options-menu__link{
        font-size: 0.88em;
    }
    .options-menu__link_text{
        line-height: 1.375em;
    }
    .main-container__load-news-panel{
        width: 100%;
    }
    .options-menu__item{
        margin-right: 1.688em;
    }
    .article{
        width: 100%;
        height: 4%;
        margin-bottom: 11.2%;
    }
    .article__name{
        font-size: 1.5em;
        margin-bottom: 2.3%;
    }
    .config_font{
        font-size: 0.88em;
    }
    .article__content{
        font-size: 1.125em;
        margin-bottom: 3.1%;
    }
    .article__image{
        width: 31.4%;
        min-width: 260px;
        min-height: 190px;
    }

    .article__gallery{
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    .plyr__video-wrapper{
        width: 100%;
        height: 100%;
        min-height: 200px;
    }
    .article__video .plyr__controls{
        width: 93% !important;
    }
    .article__video .plyr{
        border: 1.4em solid #f0f0f0;
    }
    .article__user-avatar{
        width: 1.3em;
        height: 1.3em;
    }
    .user-actions__icon{
        width: 1.2em;
        height: 1.2em;
    }
    .actions__icon-embed{
        width: auto;
    }
    .arrow_pos{
        width: 1em;
        height: auto;
    }
    .article__video_youtube{
        width: 95%;
        min-height: 260px;
        height: auto;
        border: 1.375em solid #f0f0f0;
    }
    .replies__amount{
        margin-bottom: 6%;
        font-size: 1.1em;
    }
    .replies__amount:before{
        width: 43.3%;
        margin-top: 1.5%;
    }
    .replies__amount:after{
        width: 43.3%;
        margin-top: 1.5%;
    }
    .comment{
        margin-bottom: 7.5%;
    }
    .comment__secondary, .comment__last{
        margin-left: 11.4%;
    }
    .info__item{
        margin-right: 1.625em;
    }
    .plyr__play-large {
        padding: 3.5%;
    }
    .footer__contacts{
        margin-right: 13.5%;
    }
    .footer__copyright{
        margin-left: 13.5%;
    }
    .article__actions{
        width: auto;

    }
    .comment__avatar{
        width: auto;
    }
    .comment__avatar_image{
        width: 100%;
    }
    .info__item_open_icon{
        width: 1em;
    }
    .article__audio .plyr__progress{
        margin-top: 4em;
        margin-right: 0;
        width: 77%;
        display: inline-block;
    }
    .comment__text{
        line-height: 1.6em;
        font-size: 1em;
    }
    .comment__user-name{
        line-height: 1.125em;
        font-size: 1em;
    }
    .comment__avatar_image{
        width: 4.563em;
        height: auto;
    }
    .comment__info_item{
        font-size: 0.875em;
    }
    .comment__reply{
        font-size: 1em;
    }
    .footer{
        font-size: 1.125em;
    }
    .article__info{
        width: 100%;
    }
    .article__audio  .plyr__controls > button{
        width: 5.25em;
        height: 5.25em;
        padding: 1.563em;
    }
    .article__audio  .plyr__controls > button > svg{
        width: 1.5em;
        height: 1.5em;
    }
    .list-pages__link{
        font-size: 1em;
    }
    .comment__list-pages{
        width: 22.5%;
    }
    .article__audio .plyr__time{
        margin-top: 2.813em;
        right: 2.938em;
        font-size: 0.875em;
    }
    .article__track-name_font{
        font-size: 1em;
    }
    .article__track-name{
        margin-top: 3.5em;
        margin-left: 10em;
    }
    .info_width_auto{
        width: auto;
    }
}
@media screen and (max-width: 1514px){
    .main-container__section{
        width: 80%;
    }

}
@media screen and (max-width: 1304px){
    .header-container__post-author{
        margin-bottom: 18%;
    }
}
@media screen and (max-width: 1100px){
    .article__actions{
        width: auto;
        position: relative;
        float: right;
        flex-flow: nowrap;
    }
    .actions__item{
        margin: 0;
        display: inline-block;
        position: relative;
    }

    .action__text{
        white-space: nowrap;
    }
    body, .config_font{
        font-size: 14px;
    }
    .info__item {
        margin-right: 0.5em;
    }
    .actions-menu{
        right: 1.2em;
        font-size: 0.825em;
    }
    .options-menu__link{
        font-size: 1.2em;
    }
    .header-container__main{
        padding: 8% 0 0 5%;
        width: 90%;
    }

}
@media screen and (max-width: 988px){
    .article__image{
        margin-top: 2.4%;
    }
}
@media screen and (max-width: 960px){
    .actions__item{
        display: flex;
        flex-direction: column;
    }
    .item__action-arrows{
        display: inline-block;
    }
    .header-container__post-author{
        margin-bottom: 12em;
    }
    .actions-menu{
        right: -0.6em;
        padding: 0 0.8em 0 0.625em;
    }
}
@media screen and (max-width: 830px){

    .main-container__section{
        width: 95%;
        margin: 0 auto;
    }
    .comment__avatar_image{
        width: 3em;
    }
    body, .config_font{
        font-size: 13px;
    }
    .comment__list-pages{
        width: 30%;
    }
    .actions__icon-embed{
        width: 1.8em;
    }
}
@media screen and (max-width: 665px){
    body, .config_font{
        font-size: 12px;
    }

    .header-container__post-author{
        margin-bottom: 250px;
    }
    .article__audio .plyr__controls > .plyr__progress{
        margin-top: 5em;
    }
    .article__audio .plyr__controls > button{
        margin-left: 0;
        margin-top: 1em;
    }

}
@media screen and (max-width: 520px) {
    .header-container{
        min-height: 300px;
        height: 45vh;
    }
    .article__video_youtube{
        width: 96%;
        min-width: 0;
        border: 0.5em solid #f0f0f0;
    }

    .header-container__post-author{
        margin-bottom: 7em;
    }
    .options-menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .options-menu__item{
        margin: 0;
    }

    body, .config_font{
        font-size: 10px;
    }
    .actions-menu{
        right: -0.4em;
    }
    .article__audio .plyr__controls > .plyr__progress{
        margin-top: 3.8em;
    }
    .article__audio  .plyr__controls > button{
        width: 3em;
        height: 3em;
        padding: 1em;
    }
    .article__audio  .plyr__controls > button > svg{
        margin: auto;
        display: block;
        max-width: 1em;
        max-height: 1em;
    }
}
@media screen and (max-width: 460px){
    .article__track-name{
        margin-left: 7.2em;
    }
    .article__audio .plyr__controls > .plyr__time{
        right: 2em;
    }
    .article__audio .plyr__controls .plyr__time > .plyr__time--current{
        font-size: 10px;
    }
    .plyr__controls{
        max-height: 100px;
    }
}
@media screen and (max-width: 380px){
    .article__track-name{
        margin-left: 6.5em;
    }
    .replies{
        font-size: 0.9em;
    }
}